html
	body
		h1 안녕하세요. #{name}님
		p
			| QuizTree를 이용해주셔서 감사합니다.
			| 이 이메일 계정을 활성화 하기위해 아래 링크를 클릭하여 주십시오.
		h3 회원가입을 진행하신적이 없으시다면, 메일을 누르시지 마시기 바랍니다.
		a(href=`${link}`)
		p
			| 회원가입을 시도한 컴퓨터의 정보입니다.
			| IP주소 : #{ip}
