include top
include card
doctype html
html(lang='ko')
	+top('QuizTree','index',isLogin,username)
		script.
			const webSocket = new WebSocket('wss://quiztree.xyz:5782');
			webSocket.onopen = event => {};
			function likeBtn(id) {
			webSocket.send(JSON.stringify({
			id:id,
			token:`${token}`
			}));
			}
		.container
			.wrapper
				- for(quiz in list){
					+card(quiz.name, quiz.explan, quiz.tags, quiz.time, quiz.auther, quiz.id)
				- }
			a(href="/create/")#addBtn.button
				i.fa.fa-plus(aria-hidden='true')
		script(src='./js/index.js')
		+msg_alert(usermsg)
