doctype html
html(lang='ko')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel='shortcut icon', href='./img/favicon.ico', type='image/x-icon')
		link(rel='icon', href='./img/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='./css/register.css')
		link(rel='stylesheet', href='./css/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='./css/bulma.css')
		link(rel='stylesheet', href='./css/font/stylesheet.css')
		title Login
	body
		.container
			.wrapper
				.image
					img(src='./img/QuizTree@2.png', alt='QuizTree')
			.wrapper
				.title
					h1 QuizTree
				form(method='post', action='/login')
					.field
						label.label Email
						.control.has-icons-left.has-icons-right
							input.input(type='email', placeholder='Email', name='email')
							span.icon.is-small.is-left
								i.fa.fa-envelope
							//
								<span class="icon is-small is-right">
								<i class="fa fa-warning"></i>
								</span>
						// <p class="help is-danger">This email is invalid</p>
					.field
						label.label Password
						.control.has-icons-left.has-icons-right
							input.input(type='password', placeholder='Password', name='password')
							span.icon.is-small.is-left
								i.fa.fa-key
							//
								<span class="icon is-small is-right">
								<i class="fa fa-check"></i>
								</span>
						// <p class="help is-success">This username is available</p>
					.field.is-grouped
						.control
							button.button.is-tree Login
						.control
							a.button.is-text(href='/register') Sign Up
