include msg
doctype html
html(lang='ko')
	head
		meta(charset='UTF-8	')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel='shortcut icon', href='./img/favicon.ico', type='image/x-icon')
		link(rel='icon', href='./img/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='./css/register.css')
		link(rel='stylesheet', href='./css/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='./css/bulma.css')
		link(rel='stylesheet', href='./css/font/stylesheet.css')
		title Register
	body
		+msg_alert(usermsg)
		.container
			#background-card.card.blur
				.wrapper
					h1
						| QuizTree에 오신걸
						br
						| 환영합니다
					p
						| QuizTree를 이용하시려면
						br
						| 회원가입을 해주세요
			.card
				.wrapper
					.field
						label.label Username
						.control.has-icons-left.has-icons-right
							input.custom.input(type='email', placeholder='Username', name='name')
							span.icon.is-small.is-left
								i.fa.fa-user
					.field
						label.label Email
						.control.has-icons-left.has-icons-right
							input.custom.input(type='email', placeholder='Email', email='email')
							span.icon.is-small.is-left
								i.fa.fa-envelope
					.field
						label.label Password
						.control.has-icons-left.has-icons-right
							input.custom.input(type='password', placeholder='Password', password='password')
							span.icon.is-small.is-left
								i.fa.fa-key
					.field.is-grouped
						.control
							button.custom.button Sign Up
						.control
							a.button.is-text(href='./login.html') Cancel
