doctype html
html(lang='ko')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel='shortcut icon', href='./img/favicon.ico', type='image/x-icon')
		link(rel='icon', href='./img/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='./css/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='./css/font.css')
		link(rel='stylesheet', href='./css/result.css')
		link(rel='stylesheet', href='./css/bulma.css')
		title QuizTree
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	body
		nav.navbar.is-transparent
			.navbar-brand
				a.navbar-item(href='./index.html')
					img(src='./img/QuizTree@2.png', alt='QuizTree')
					h1(style='margin-left:10px;font-size:24px') QuizTree
				.navbar-burger.burger(data-target='navMenu')
					span
					span
					span
			#navMenu.navbar-menu
				.navbar-start
					input#searchbar.input(type='text', placeholder='Search',name='word')
		.container
			script.
				const webSocket = new WebSocket('wss://quiztree.xyz:5782');
				webSocket.onopen = event => {};
				function likeBtn(id) {
				webSocket.send(JSON.stringify({
				id:id,
				token:`${token}`
				}));
				}
			.wrapper
				.titles
					h1.title #{word}에 대한 검색 결과
					span #{count}개
				.cards
					- for(quiz in list){
						+card(quiz.name, quiz.explan, quiz.tags, quiz.time, quiz.auther, quiz.id)
					- }
