
body{
    width: 100%;
    height: 100vh;

}
.container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    width: 200px;
}


.title h1{
    color: #40e5e5;
    text-align: center;
}
