.navbar-start {
    padding: 8px 16px;
}

.navbar-start input {
    width: 400px;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tag{ margin:3px }
.wrapper{
    position: relative;
    top: 70px;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user > i{
    font-size: 40px;
}
.posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.card{
    margin: 10px;
}
.card-content{
    padding: 0px!important;
}
.content{
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.card-footer-item i.fa {
    margin-right: 10px;
}

@media screen and (max-width:420px) {
    .card {
        flex-basis: 100% auto;
    }
}
